<div class="product-view">
  <div class="product-image-container">
    <div class="row product-name">
      {{product.name}}
    </div>
    <div class="row product-price">
      ${{product.price.toFixed(2)}}
    </div>
    <div class="row main-image">
      <img src="{{product.image}}"/>
    </div>
    <div class="row image-selector">
      <div class="col-2 arrow">
        <i class="fa fa-chevron-left arrow-icon" aria-hidden="true"></i>
      </div>
      <div class="col-8 other-images">
        <img *ngFor="let image of product.images" src="{{image}}"/>
      </div>
      <div class="col-2 arrow">
        <i class="fa fa-chevron-right arrow-icon" aria-hidden="true"></i>
      </div>
    </div>
  </div>

  <app-related-products [products]="product.related_products"></app-related-products>
  <select class="size-dropdown">
    <option>Size</option>
  </select>
  <div class="big-buttons">
    <button class="add-to-cart">Add to Cart</button>
    <button class="customize">Customize</button>
  </div>
  <app-description-featrures [description]="product.description"></app-description-featrures>
</div>
