.product-view {
  width: 100%;
  padding: 10px;
  padding-bottom: 0;
  margin: 0;

  div.row {
    margin: 0;
  }

  div.product-image-container {
    border-bottom: 2px solid rgba(0, 0, 0, 0.41);

    div.product-name {
      font-size: 15pt;
      text-transform: uppercase;
      color: #362d2e;
      font-weight: 700;
    }

    div.product-price {
      letter-spacing: 1px;
      font-weight: bold;
      font-size: 15pt;
      letter-spacing: 3px;
      color: #000;
      margin: 10px 0;
    }

    div.main-image {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  div.image-selector {
    font-size: 20pt;
    height: 40px;
    line-height: 40px;
    margin: 40px 0;
    display: flex;
    align-items: center;

    & > div.col-2 {
      text-align: center;
    }

    .other-images {
      padding: 0;
      display: flex;
      justify-content: space-between;

      img {
        width: 50px;
        height: 40px;
      }

      .arrow {
        i.fa.fa-chevron-right.arrow-icon {
          line-height: 40px;
        }
      }
    }
  }

  .size-dropdown {
    border: 1px solid #362d2e;
    text-transform: uppercase;
    height: 40px;
    width: 150px;
    background-color: #fff;
    padding-left: 10px;
    margin: 10px 0;
  }

  .big-buttons {
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.41);

    button {
      width: 100%;
      margin: 10px auto;
      padding: 0;
      height: 40px;
      display: block;
      text-transform: uppercase;
      font-weight: 700;
      color: #fff;
    }

    button.add-to-cart {
      border: 1px solid #f5a019;
      background-color: #f5a019;
    }

    button.customize {
      border: 1px solid #362d2e;
      background-color: #362d2e;
    }
  }
}
