<div class="container-fluid">
    <div class="row page-header align-items-center">
        <div class="left-container col-12 col-md-6 col-sm-6">
            <div class="row align-items-center">
                    <a routerLink="/">
                <img class="main-logo" src="assets/timberland.png" />
                <div class="page-title">
                        Joemags Boot Shop
                </div>
                    </a>
            </div>
        </div>
        <div class="col-12 col-md-6 col-sm-6">
            <div class="right-contents row justify-content-end">
                <div class="item">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span>Find a Store</span>
                </div>
                <div class="item">
                    <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
                    <span>Cart</span>
                </div>
                <div class="item">
                    <i class="fa fa-user-circle fa-lg" aria-hidden="true"></i>
                    <span>My Account</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row main-navigation align-items-center">
        <div class="nav-item">
            Men
            <div class="additional-nav-container">
            </div>
        </div>
        <div class="nav-item">
            Women
            <div class="additional-nav-container">
            </div>
        </div>
        <div class="nav-item">
            Kids
            <div class="additional-nav-container">
            </div>
        </div>
        <div class="nav-item">
            On Sale
            <div class="additional-nav-container">
            </div>
        </div>
        <div class="search">
            <div>
            <input placeholder="Search site" type="text" />
            <i class="fa fa-search" aria-hidden="true"></i>
            </div>
        </div>
        <div class="additional-nav-container">
        </div>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>

