@import '../../assets/scss/bootstrap.scss';

.products-available {
  width: 95%;
  margin: auto;

  .product-main-container {
    text-decoration: none;
    color: #000;

    div.image {
      width: 100%;
      height: 150px;
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-position: center !important;
    }

    .product-name {
      text-align: center;
    }

    .product-price {
      letter-spacing: 2px;
      font-size: 11pt;
      font-weight: bold;
      text-align: center;
    }
  }
}

@include media-breakpoint-down(md){
  $offsets: 10,20,30,40,50,60,70,80,90,100,110,120,130,140,150,160;

  @each $offset in $offsets {
    .content-offset-#{$offset} {
      $actual_offset: $offset + 1;
      & > .product-main-container:nth-child(1n+#{$actual_offset}) {
        display: none;
      }
    }
  }
}

@include media-breakpoint-up(md){
  .products-available {
    max-width: 700px;
    display: inline-block;

    .product-main-container {
      display: inline-block;
    }
  }
}

