<div class="row products-available col-md-8 col-lg-8 content-offset-{{showCount}}">
  <a routerLink="/product/{{product.id}}" class="col-6 col-md-4 col-lg-4 product-main-container" *ngFor="let product of productList">
    <div class="image" [style.background]="'url(' + product.images[0] + ')'"></div>
    <div class="product-name">{{product.name}}</div>
    <div class="product-price">${{product.price.toFixed(2)}}</div>
  </a>
</div>
