<div class="products-page row">
  <div class="filler col-lg-2 col-md-2"></div>
  <div class="counter">
    <div>Boots</div>
    <div>Showing 158 Items</div>
  </div>

  <div class="filter-buttons row">
      <div (click)="onFilterToggle()" class="button col-3">
          FILTERS
          <span ngClass="icon fa fa-caret-{{filterToggle}}"></span>
      </div>
      <select class="col-7">
        <option>SORT: RECOMMENDED</option>
        <option>SORT: PRICE HIGH TO LOW</option>
        <option>SORT: PRICE LOW TO HIGH</option>
        <option>SORT: RATING</option>
      </select>
  </div>
  <div class="main-contents">
    <div ngClass="filters {{ filterToggle === 'down' ? 'hide' : '' }}">
      <div class="filter-section">
        <div (click)="onFilterSectionToggle('style')" class="title">
          Style
          <span ngClass="filter-section-toggle fa fa-angle-{{ filters.style.collapsed ? 'down' : 'up' }}"></span>
        </div>
        <div ngClass="contents has-more {{ filters.style.list_mode === 'Less' ? 'show-more' : '' }} {{ filters.style.collapsed ? '' : 'hide' }}">
          <div *ngFor="let filter of styleFilters">
            <input name="size" id="{{filter.id}}" type="checkbox">
            <label for="{{filter.id}}">{{filter.label}}</label>
          </div>
        </div>
        <div ngClass="more {{ filters.style.collapsed ? '' : 'hide' }}">
          <span (click)="toggleMore('style')">{{filters.style.list_mode}}</span>
        </div>
      </div>
      <div class="filter-section">
        <div (click)="onFilterSectionToggle('shoe_size')" class="title">
          Shoe Size
          <span ngClass="filter-section-toggle fa fa-angle-{{ filters.shoe_size.collapsed ? 'down' : 'up' }}"></span>
        </div>
        <div ngClass="contents row {{ filters.shoe_size.collapsed ? '' : 'hide' }}">
          <div *ngFor="let size of shoeSizes" class="col-4 shoe-sizes-container">
            <div class="shoe-size">{{size}}</div>
          </div>
        </div>
      </div>
      <div class="filter-section">
        <div (click)="onFilterSectionToggle('width')" class="title">
          Width
          <span ngClass="filter-section-toggle fa fa-angle-{{ filters.width.collapsed ? 'down' : 'up' }}"></span>
        </div>
        <div ngClass="contents row {{ filters.width.collapsed ? '' : 'hide' }}">
          <div class="col-12">
            <input name="size" id="medium" type="checkbox">
            <label for="medium">Medium</label>
          </div>
          <div class="col-12">
            <input name="size" id="wide" type="checkbox">
            <label for="wide">Wide</label>
          </div>
        </div>
      </div>
      <div class="filter-section">
        <div (click)="onFilterSectionToggle('color')" class="title">
          Color
          <span ngClass="filter-section-toggle fa fa-angle-{{ filters.color.collapsed ? 'down' : 'up' }}"></span>
        </div>
        <div ngClass="contents {{ filters.color.collapsed ? '' : 'hide' }}">
          <div class="row color-box-row" *ngFor="let color of colorFilters">
            <div class="col-8">
              <input type="checkbox" id="{{color.label}}" />
              <label for="{{color.label}}">{{color.label}}</label>
            </div>
            <div class="col-4">
              <div class="color-box" [style.backgroundColor]="color.value"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="filter-section">
        <div (click)="onFilterSectionToggle('features')" class="title">
          Features
          <span ngClass="filter-section-toggle fa fa-angle-{{ filters.features.collapsed ? 'down' : 'up' }}"></span>
        </div>
        <div ngClass="contents {{ filters.features.collapsed ? '' : 'hide' }}">
          <div *ngFor="let feature of featureFilters">
            <input name="size" id="{{feature}}" type="checkbox">
            <label for="{{feature}}">{{feature}}</label>
          </div>
        </div>
      </div>
      <div class="filter-section">
        <div (click)="onFilterSectionToggle('price')" class="title">
          Price
          <span ngClass="filter-section-toggle fa fa-angle-{{ filters.price.collapsed ? 'down' : 'up' }}"></span>
        </div>
        <div ngClass="contents {{ filters.price.collapsed ? '' : 'hide' }}">
          <div *ngFor="let price of priceFilters">
            <input name="size" id="{{price}}" type="checkbox">
            <label class="price" for="{{price}}">{{price}}</label>
          </div>
        </div>
      </div>
    </div>
    <app-product-list [count]="showCount" [products]="products"></app-product-list>
    <div class="products-load-more" *ngIf="hasMoreProducts" (click)="loadMore()">Load More</div>
  </div>
</div>
