@import '../../assets/scss/bootstrap.scss';

.products-page {
  .filler {
    display: none;
  }

  .counter {
    width: 95%;
    font-size: 20pt;
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0;
    color: rgba(0, 0, 0, 0.6392156862745098);
  }

  .filter-buttons {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    width: 95%;
    margin: auto;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(25, 11, 11, 0.70);

    .button {
      position: relative;
      cursor: pointer;
      border: 1px solid #362d2e;
      min-width: 120px;
      display: inline-block;
      height: 35px;
      line-height: 35px;
      color: #362d2e;
      font-size: 10pt;
      font-weight: 700;
      padding: 0;
      padding-left: 5px;

      .icon {
          position: absolute;
          top: 0;
          right: 0;
          line-height: 35px;
          margin-right: 5px;
      }
    }

    select {
      border: 1px solid #362d2e;
      color: #362d2e;
      background-color: #fff;
      font-size: 10pt;
      font-weight: 700;
      padding-right: 0;
    }
  }

  .filters {
    width: 95%;
    max-width: 300px;
    margin: auto;
    margin-top: 20px;

    &.hide {
      display: none;
    }

    .filter-section {
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid rgba(25, 11, 11, 0.70);

      .title {
        height: 30px;
        line-height: 30px;
        position: relative;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 13pt;
        letter-spacing: 1px;

        .filter-section-toggle {
          position: absolute;
          line-height: 30px;
          top: 0;
          right: 0;
        }
      }

      .more {
        text-decoration: underline;
        cursor: pointer;
        font-size: 11pt;

        &.hide {
          display: none;
        }
      }

      .contents {
        overflow: hidden;

        &.hide {
          display: none;
        }

        &.has-more {
          max-height: 195px;
        }

        &.has-more.show-more {
          max-height: unset;
        }

        input[type="checkbox"] {
          appearance: none;
          outline: none;
          position: relative;
          margin-right: 5px;
          border: 1px solid #000;
          height: 12px;
          width: 12px;

          &:checked:after {
            content: '\2714';
            font-size: 19px;
            position: absolute;
            top: -10px;
            left: 0;
          }
        }

        .shoe-sizes-container {
          .shoe-size {
            line-height: 30px;
            height: 30px;
            width: 80px;
            border: 1px solid #000;
            text-align: center;
            margin: 5px 0;
            font-weight: 700;
          }
        }

        .color-box-row {
          align-items: center;

          .color-box {
            width: 60px;
            height: 20px;
            border: 1px solid rgba(0, 0, 0, 0.58);
          }
        }

        label.price {
          font-size: 11pt;
          letter-spacing: 2px;
        }
      }
    }
  }
}

.products-load-more {
  width: 90%;
  height: 45px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #000;
  color: rgba(0, 0, 0, 0.78);
  font-weight: 800;
  cursor: pointer;
  margin: 30px auto;
}

@include media-breakpoint-up(md){
  .products-page {
    .filler {
      display: block;
    }

    .counter {
      display: inline-block;
      max-width: 500px;

      div {
        display: inline-block;
      }

      & > div:first-child:after {
        content: " - ";
      }
    }

    .main-contents {
      width: 80%;
      margin: auto;

      .filters {
        display: inline-block;
        vertical-align: top;

        &.hide {
          display: inline-block;
        }
      }
    }

    .filter-buttons {
      display: inline-block;
      max-width: 500px;
      margin-left: 100px;
      border: 0;

      .button {
        display: none;
        font-size: 14pt;
      }

      select {
        font-size: 14pt;
      }
    }

    .products-load-more {
      display: none;
    }
  }
}
