.description-features {
  margin-top: 10px;
  padding-bottom: 10px;

  .title {
    font-size: 13pt;
    font-weight: 600;
    color: #362d2e;
    text-transform: uppercase;
    line-height: 40px;
  }
}
