.related-products {
  margin: 10px 0;
  .title {
    margin: 0;
    color: #362d2e;
    font-weight: 600;
    font-size: 13pt;
  }

  .product-list-container {
    img, .show-more-colors {
      width: 70px;
      height: 50px;
      margin: 5px 5px;
      border: 1px solid rgba(0, 0, 0, 0.25882352941176473);
      font-size: 10pt;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
    }

    img:nth-child(1n+4) {
      display: none;
    }

    &.show {
      img {
        display: inline-block;
      }
    }
  }
}
