<div *ngIf="relatedProducts && relatedProducts.length > 0" class="related-products">
  <div class="row title">Other Colors</div>
  <div class="product-list-container {{allColorsClass}}">
    <img *ngFor="let product of relatedProducts" src="{{product.images[ 0 ]}}"/>
    <div (click)="showAllColors()" class="show-more-colors">Show {{allColorsClass === 'hide' ? 'More' : 'Less'}} Colors</div>
  </div>
</div>
