/* You can add global styles to this file, and also import other style files */
@import './assets/scss/bootstrap.scss';

.container-fluid {
    font-family: 'Dosis', sans-serif;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;

    .page-header {
        a {
            text-decoration: none;
            color: #000;
        }

        padding: 0 15px;
        .page-title {
            display: inline-block;
            font-size: 25pt;
            font-weight: 600;
        }

        .right-contents {
            padding: 0 50px;

            .item {
                cursor: pointer;

                i {
                    margin: 0 0 0 20px;
                }

                span {
                    font-size: 11pt;
                    margin-left: 5px;
                }

                &:hover {
                    span {
                        text-decoration: underline;
                    }
                }

                @media (max-width: 800px) {
                    span {
                        display: none;
                    }
                }
            }
        }

        .main-logo {
            width: 100px;
        }

        @media (max-width: 710px) {
            .right-contents {
                display: none;
            }

            .left-container {
                max-width: 100%;
                flex: 0 0 100%;
            }
        }
    }

    .main-navigation {
        background-color: #5a4943;
        background-color: #705a53;
        height: 70px;
        padding: 0 15px;
        position: relative;

        @media (max-width: 710px) {
            justify-content: space-evenly;
        }

        .nav-item {
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 0;
            color: #fff;
            font-weight: 700;
            font-size: 15pt;
            letter-spacing: 1pt;
            cursor: pointer;
            text-transform: uppercase;
            text-align: center;
            width: 100px;

            @media (max-width: 710px) {
                position: inherit;
            }

            &:hover {
                background-color: #fff;
                color: #000;
                text-decoration: underline;

                & ~ .additional-nav-container {
                    display: block;
                }
                &:parent {
                    background-color: #000;
                }
            }
        }

        .additional-nav-container {
            background-color: #705a53;
            background-position: 5px 0;
            width: 100%;
            min-height: 200px;
            position: absolute;
            top: 0;
            left: 0;
            margin-top: 72px;
            display: none;
            z-index: 2;

            &:hover {
                display: block;
            }
        }

        div.search {
            position: absolute;
            right: 0;
            margin-right: 60px;

            div {
                position: relative;

                input {
                    width: 250px;
                    height: 40px;
                    padding-left: 10px;
                    padding-right: 25px;
                    outline: none;
                }

                i.fa-search {
                    position: absolute;
                    top: 0;
                    right: 0;
                    margin-top: 11px;
                    margin-right: 5px;
                    cursor: pointer;
                }
            }
        }

        @media (max-width: 710px) {
            div.search {
                display: none;
            }
        }
    }
}

@include media-breakpoint-down(xs) {
.container-fluid {
    .page-header {
        .left-container {
            .page-title {
                font-size: 20pt;
            }
        }
    }

    .main-navigation {
        height: 40px;

        .nav-item {
            font-size: 10pt;
            width: 55px;
        }

        .additional-nav-container {
            margin-top: 42px;
        }
    }
}
}
