@import '../../assets/scss/bootstrap.scss';

.home-page {
  .news {
    position: relative;
    display: flex;
    flex-direction: column;

    picture, img {
      width: 100%;
      height: 100%;
    }

    .overlay {
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 20%;
      margin-top: 10%;
      text-align: center;

      .winter-sale {
        font-family: 'Courgette', cursive;
        color: #fff;
        font-size: 30pt;
        font-weight: 700;
      }

      .sale-detail {
          color: #fff;
      }

      .shop-buttons {
        .shop-button {
          display: inline-block;
          margin: 10px 5px;
          min-width: 150px;
          height: 40px;
          line-height: 40px;
          font-size: 13pt;
          font-weight: 600;
          color: #ab192d;
          background-color: #fff;
          text-transform: uppercase;
          cursor: pointer;
          transition: background-color 1s;

          &:hover {
            background-color: #ab192d;
            border: 1px solid #fff;
            color: #fff;
          }
        }
      }
    }

    @media (max-width: 830px) {
      .overlay {
        left: 0;
        margin: 0;
        margin-left: 50%;
        margin-top: 230px;
        transform: translate( -50%, -50% );

        .winter-sale {
          font-size: 25pt;
        }

        .sale-detail {
          font-size: 30pt;
        }
      }
    }

  }
}

@include media-breakpoint-up(xs) {
.home-page {
  .news {
    .overlay {
      margin-top: 175px;
      width: 200px;

      .winter-sale {
        font-size: 20pt;
      }

      .sale-detail {
        font-size: 20pt;
      }
    }
  }

  .main-categories {
    margin: auto;
    margin-top: 50px;
    width: 100%;
    justify-content: space-around;

    .category {
      cursor: pointer;
      margin-bottom: 20px;
      display: inline-block;

      a.text {
        font-size: 20pt;
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50% );
        text-align: center;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        padding: 0 30px;
      }

      picture, img {
        width: 100%;
      }

      div.overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;

        &:after {
          background-color: rgba(0, 0, 0, 0.21);
          position: absolute;
          width: calc(90% - 30px);
          height: 90%;
          content: " ";
          top: 5%;
          left: 5%;
          right: 5%;
          bottom: 5%;
          margin: auto;
          border: 3px solid #fff;
        }
      }
    }
  }
}
}

@include media-breakpoint-up(md) {
.home-page {
  .main-categories {
    width: 80%;
    margin: auto;
    margin-top: 50px;
  }
}
}

