<div class="home-page">
    <div class="news">
        <picture class=" ">
            <source srcset="https://images.timberland.com/is/image/TimberlandBrand/1292-home-1920x675?$hero-fullbleed-desktop$" media="(min-width: 1024px)">
            <source srcset="https://images.timberland.com/is/image/TimberlandBrand/1292-home-1024x485?$hero-fullbleed-tablet$" media="(min-width: 640px)">
            <img srcset="https://images.timberland.com/is/image/TimberlandBrand/1292-home-640x713?$hero-fullbleed-mobile$" alt="Winter Sale. Extra 25% Off sale styles.">
        </picture>
        <div class="overlay">
            <div class="winter-sale">
                Winter Sale
            </div>
            <div class="sale-detail">
                EXTRA 25% OFF
            </div>
            <div class="shop-buttons">
                <div class="shop-button">
                    SHOP MEN
                </div>
                <div class="shop-button">
                    SHOP WOMEN
                </div>
                <div class="shop-button">
                    SHOP KIDS
                </div>
            </div>
        </div>
    </div>
    <div class="row main-categories">
        <div class="col-6 col-lg-3 category">
            <picture class="cq-dd-image ">
                <source srcset="https://images.timberland.com/is/image/TimberlandBrand/51251-544x262-2up-home-mens-boots?$SCALE-ORIGINAL$" media="(min-width: 1024px)">
                <source srcset="https://images.timberland.com/is/image/TimberlandBrand/51251-544x262-2up-home-mens-boots?$SCALE-ORIGINAL$" media="(min-width: 640px)">
                <img srcset="https://images.timberland.com/is/image/TimberlandBrand/51251-544x262-2up-home-mens-boots?$SCALE-ORIGINAL$" alt="Men's Boots">
            </picture>
            <a routerLink="/products" class="text">Men's Boots</a>
            <div class="overlay"></div>
        </div>
        <div class="col-6 col-lg-3 category">
            <picture class="cq-dd-image ">
                <source srcset="https://images.timberland.com/is/image/TimberlandBrand/1292-home-262x262-womens-boots-1?$SCALE-ORIGINAL$" media="(min-width: 1024px)">
                <source srcset="https://images.timberland.com/is/image/TimberlandBrand/1292-home-262x262-womens-boots-1?$SCALE-ORIGINAL$" media="(min-width: 640px)">
                <img srcset="https://images.timberland.com/is/image/TimberlandBrand/1292-home-262x262-womens-boots-1?$SCALE-ORIGINAL$" alt="Women's Boots">
            </picture>
            <a routerLink="/products" class="text">Women's Boots</a>
            <div class="overlay"></div>
        </div>
        <div class="col-6 col-lg-3 category">
            <picture class="cq-dd-image ">
                <source srcset="https://images.timberland.com/is/image/TimberlandBrand/1292-men-262x262-4up-jackets-1?$SCALE-ORIGINAL$" media="(min-width: 1024px)">
                <source srcset="https://images.timberland.com/is/image/TimberlandBrand/1292-men-262x262-4up-jackets-1?$SCALE-ORIGINAL$" media="(min-width: 640px)">
                <img srcset="https://images.timberland.com/is/image/TimberlandBrand/1292-men-262x262-4up-jackets-1?$SCALE-ORIGINAL$" alt="Men's Jackets">
            </picture>
            <a routerLink="/products" class="text">Men's Jackets</a>
            <div class="overlay"></div>
        </div>
        <div class="col-6 col-lg-3 category">
            <picture class="cq-dd-image ">
                <source srcset="https://images.timberland.com/is/image/TimberlandBrand/1240-262x262-home-kids-footwear-3?$SCALE-ORIGINAL$" media="(min-width: 1024px)">
                <source srcset="https://images.timberland.com/is/image/TimberlandBrand/1240-262x262-home-kids-footwear-3?$SCALE-ORIGINAL$" media="(min-width: 640px)">
                <img srcset="https://images.timberland.com/is/image/TimberlandBrand/1240-262x262-home-kids-footwear-3?$SCALE-ORIGINAL$" alt="Kids' Footwear">
            </picture>
            <a routerLink="/products" class="text">Kids's Footwear</a>
            <div class="overlay"></div>
        </div>
    </div>
</div>

